rvl_alias "clk" "brutzelkarte_inst/clk_i";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RAM_ADDR_O[0]" SITE "138" ;
LOCATE COMP "RAM_ADDR_O[1]" SITE "139" ;
LOCATE COMP "RAM_ADDR_O[2]" SITE "140" ;
LOCATE COMP "RAM_ADDR_O[3]" SITE "141" ;
LOCATE COMP "RAM_ADDR_O[4]" SITE "142" ;
LOCATE COMP "RAM_ADDR_O[5]" SITE "31" ;
LOCATE COMP "RAM_ADDR_O[6]" SITE "32" ;
LOCATE COMP "RAM_ADDR_O[7]" SITE "33" ;
LOCATE COMP "RAM_ADDR_O[8]" SITE "21" ;
LOCATE COMP "RAM_ADDR_O[9]" SITE "20" ;
LOCATE COMP "RAM_ADDR_O[10]" SITE "14" ;
LOCATE COMP "RAM_ADDR_O[11]" SITE "13" ;
LOCATE COMP "RAM_ADDR_O[12]" SITE "12" ;
LOCATE COMP "RAM_ADDR_O[13]" SITE "11" ;
LOCATE COMP "RAM_ADDR_O[14]" SITE "10" ;
LOCATE COMP "RAM_ADDR_O[15]" SITE "4" ;
LOCATE COMP "RAM_ADDR_O[16]" SITE "3" ;
LOCATE COMP "RAM_NWE_O" SITE "121" ;
LOCATE COMP "RAM_NOE_O" SITE "34" ;
LOCATE COMP "RAM_CE_O" SITE "119" ;
LOCATE COMP "RAM_DATA_IO[0]" SITE "133" ;
LOCATE COMP "RAM_DATA_IO[1]" SITE "132" ;
LOCATE COMP "RAM_DATA_IO[2]" SITE "128" ;
LOCATE COMP "RAM_DATA_IO[3]" SITE "127" ;
LOCATE COMP "RAM_DATA_IO[4]" SITE "122" ;
LOCATE COMP "RAM_DATA_IO[5]" SITE "143" ;
LOCATE COMP "RAM_DATA_IO[6]" SITE "1" ;
LOCATE COMP "RAM_DATA_IO[7]" SITE "2" ;
LOCATE COMP "RAM_DATA_IO[8]" SITE "22" ;
LOCATE COMP "RAM_DATA_IO[9]" SITE "23" ;
LOCATE COMP "RAM_DATA_IO[10]" SITE "24" ;
LOCATE COMP "RAM_DATA_IO[11]" SITE "25" ;
LOCATE COMP "RAM_DATA_IO[12]" SITE "26" ;
LOCATE COMP "RAM_DATA_IO[13]" SITE "27" ;
LOCATE COMP "RAM_DATA_IO[14]" SITE "28" ;
LOCATE COMP "RAM_DATA_IO[15]" SITE "35" ;
LOCATE COMP "BOOT_SCK_O" SITE "103" ;
LOCATE COMP "BOOT_CSN_O" SITE "107" ;
LOCATE COMP "BOOT_DQ_IO[0]" SITE "96" ;
LOCATE COMP "BOOT_DQ_IO[1]" SITE "106" ;
LOCATE COMP "BOOT_DQ_IO[2]" SITE "105" ;
LOCATE COMP "BOOT_DQ_IO[3]" SITE "104" ;
LOCATE COMP "ROM_SCK_O" SITE "84" ;
LOCATE COMP "ROM_CSN_O[0]" SITE "85" ;
LOCATE COMP "ROM_CSN_O[1]" SITE "75" ;
LOCATE COMP "ROM_DQ_IO[0]" SITE "83" ;
LOCATE COMP "ROM_DQ_IO[1]" SITE "74" ;
LOCATE COMP "ROM_DQ_IO[2]" SITE "73" ;
LOCATE COMP "ROM_DQ_IO[3]" SITE "76" ;
LOCATE COMP "N64_SI_CLK_I" SITE "49" ;
LOCATE COMP "N64_S_DAT_IO" SITE "38" ;
LOCATE COMP "N64_CIC_D_IO" SITE "42" ;
LOCATE COMP "N64_CIC_DCLK_I" SITE "41" ;
LOCATE COMP "N64_AD_IO[0]" SITE "70" ;
LOCATE COMP "N64_AD_IO[1]" SITE "68" ;
LOCATE COMP "N64_AD_IO[2]" SITE "65" ;
LOCATE COMP "N64_AD_IO[3]" SITE "60" ;
LOCATE COMP "N64_AD_IO[4]" SITE "52" ;
LOCATE COMP "N64_AD_IO[5]" SITE "48" ;
LOCATE COMP "N64_AD_IO[6]" SITE "45" ;
LOCATE COMP "N64_AD_IO[7]" SITE "43" ;
LOCATE COMP "N64_AD_IO[8]" SITE "44" ;
LOCATE COMP "N64_AD_IO[9]" SITE "47" ;
LOCATE COMP "N64_AD_IO[10]" SITE "50" ;
LOCATE COMP "N64_AD_IO[11]" SITE "54" ;
LOCATE COMP "N64_AD_IO[12]" SITE "61" ;
LOCATE COMP "N64_AD_IO[13]" SITE "67" ;
LOCATE COMP "N64_AD_IO[14]" SITE "69" ;
LOCATE COMP "N64_AD_IO[15]" SITE "71" ;
LOCATE COMP "N64_ALEH_I" SITE "56" ;
LOCATE COMP "N64_ALEL_I" SITE "58" ;
LOCATE COMP "N64_READn_I" SITE "57" ;
LOCATE COMP "N64_WRITEn_I" SITE "59" ;
LOCATE COMP "N64_COLD_RESET_I" SITE "40" ;
LOCATE COMP "N64_NMI_I" SITE "39" ;
LOCATE COMP "UART_RX_I" SITE "113" ;
LOCATE COMP "UART_TX_O" SITE "114" ;
LOCATE COMP "USB_DETECT_I" SITE "115" ;
LOCATE COMP "LED_O[0]" SITE "5" ;
LOCATE COMP "LED_O[1]" SITE "6" ;
LOCATE COMP "LED_O[2]" SITE "9" ;
LOCATE COMP "LED_O[3]" SITE "15" ;
IOBUF PORT "N64_ALEH_I" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "N64_ALEL_I" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "N64_COLD_RESET_I" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "N64_READn_I" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "N64_WRITEn_I" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "BOOT_CSN_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "BOOT_SCK_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "LED_O[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "LED_O[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "LED_O[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "LED_O[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_ADDR_O[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_CE_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_NOE_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_NWE_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "BOOT_DQ_IO[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "BOOT_DQ_IO[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "BOOT_DQ_IO[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "BOOT_DQ_IO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_SCK_O" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_DQ_IO[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_DQ_IO[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_DQ_IO[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_DQ_IO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_CSN_O[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "ROM_CSN_O[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "N64_AD_IO[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "N64_AD_IO[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "RAM_DATA_IO[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "N64_SI_CLK_I" IO_TYPE=LVCMOS33 ;
IOBUF PORT "N64_S_DAT_IO" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "USB_DETECT_I" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS ;
IOBUF PORT "N64_CIC_DCLK_I" IO_TYPE=LVCMOS33 ;
IOBUF PORT "N64_CIC_D_IO" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=OFF DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "N64_NMI_I" IO_TYPE=LVCMOS33 ;
IOBUF PORT "UART_TX_O" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "UART_RX_I" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RTC_SCL_IO" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON DRIVE=4 ;
IOBUF PORT "RTC_SDA_IO" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON DRIVE=4 ;
LOCATE COMP "RTC_SCL_IO" SITE "125" ;
LOCATE COMP "RTC_SDA_IO" SITE "126" ;
LOCATE COMP "JP1_I" SITE "100" ;
IOBUF PORT "JP1_I" IO_TYPE=LVCMOS33 PULLMODE=UP ;
BLOCK NET "JP1_I_c" ;
LOCATE COMP "TP1_O" SITE "112" ;
LOCATE COMP "TP2_O" SITE "109" ;
LOCATE COMP "TP3_O" SITE "111" ;
LOCATE COMP "TP4_O" SITE "110" ;
IOBUF PORT "TP1_O" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP2_O" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP3_O" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP4_O" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
